*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "gill-sans-nova", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: inherit;
}

html[data-theme=light] {
  background-color: #f0f0f0;
  color: #333;
}
html[data-theme=light] .hero {
  background-image: url("../../assets/images/stripes-bg.svg");
  background-size: cover;
}
html[data-theme=light] .hero__mouse-outline {
  border: 0.2rem solid #333;
}
html[data-theme=light] .hero__mouse-scroller {
  background-color: #333;
}
html[data-theme=light] .footer {
  background-color: #ff901b;
}
html[data-theme=light] .contact__form-container {
  background-color: white;
}

html[data-theme=dark] {
  background-color: #333;
  color: #f0f0f0;
}
html[data-theme=dark] .hero {
  background-image: url("../../assets/images/darkstripes-bg.svg");
  background-size: cover;
}
html[data-theme=dark] .hero__mouse-outline {
  border: 0.2rem solid #f0f0f0;
}
html[data-theme=dark] .hero__mouse-scroller {
  background-color: #f0f0f0;
}
html[data-theme=dark] .footer {
  background-color: #333;
}
html[data-theme=dark] .contact__form-container {
  background-color: #333;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease;
  display: inline-block;
}

.btn--orange {
  background-color: #ff901b;
  color: white;
}

.btn--white {
  background-color: white;
  color: #ff901b;
}

.btn:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.btn:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

.text-link:link {
  color: #ff901b;
}

/* .actionword {
    color: #FF901B;
} */
/* Header Below */
.header {
  position: relative;
  padding: 0 2rem;
}

.header__nav {
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-link:link {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.header__nav-link:link:hover {
  transition: 0.2s;
}

.header__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-img {
  width: 7rem;
  height: 7rem;
}

.header__logo-title {
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
}

.header__nav-links {
  display: flex;
  gap: 3rem;
}

.header__nav-link:link {
  position: relative;
  font-size: 1.5rem;
}

.header__nav-link:link:hover {
  color: #ff901b;
}

.header__nav-toggle-btn {
  color: #ff901b;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.color-theme-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1.5rem;
  position: fixed;
  z-index: 5;
  bottom: 2rem;
  left: 2rem;
}

/* DROPDOWN MENU */
.header__nav-dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 70px;
  height: 0;
  width: 300px;
  background: #ff901b;
  border-radius: 10px;
  overflow: hidden;
}

.header__nav-dropdown-menu--open {
  height: auto;
  z-index: 1;
}

.header__nav-dropdown-menu-link:link {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.header__nav-dropdown-menu-link:link:hover {
  scale: 1.05;
}

/* RESPONSIVE NAV */
@media (max-width: 1015px) {
  .header__nav-links {
    display: none;
  }
  .header__nav-toggle-btn {
    display: block;
  }
  .header__nav-dropdown-menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .header__nav-dropdown-menu {
    left: 2rem;
    width: unset;
  }
}
/* HERO SECTION */
.hero {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 0 2rem;
}

.hero__title {
  font-size: 5rem;
  text-transform: uppercase;
}

.hero__subtitle {
  font-size: 2.1rem;
}

.hero__mouse {
  width: 34px;
  height: 55px;
}

.hero__mouse-outline {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.hero__mouse-scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  animation-name: mouseScroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes mouseScroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
/* RESPONSIVE HERO */
@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 420px) {
  html {
    font-size: 40%;
  }
}
/* ABOUT SECTION */
.about {
  padding: 8rem 5rem;
  margin: auto;
  max-width: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.about__header-hr {
  margin: 2rem 0;
  width: 5rem;
  border: 3px solid #ff901b;
  border-radius: 10px;
}

.about__header-title {
  text-transform: uppercase;
  font-size: 4.3rem;
}

.about__header-subtitle {
  font-size: 2.3rem;
}

.about__content {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: start;
}

.about__text-title {
  font-size: 3rem;
}

.about__text-p {
  font-size: 2rem;
}

.about__skills {
  display: flex;
  flex-direction: column;
}

.about__skills-title {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.about__skills-item-container {
  display: flex;
  flex-wrap: wrap;
}

.about__skills-item {
  padding: 1rem 2rem;
  margin: 0 1.5rem 1.5rem 0;
  font-weight: 600;
  background-color: #f0f0f0;
  border-radius: 10px;
  font-size: 1.4rem;
}

/* ABOUT SECTION RESPONSIVE DESIGN */
@media (max-width: 1027px) {
  .about {
    max-width: 60rem;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__text {
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .about {
    padding: 3rem 3.25rem;
  }
  .about__header {
    margin-bottom: 1rem;
  }
  .about__content {
    margin: 1rem 0;
  }
}
/* PROJECTS SECTION */
.projects {
  padding: 8rem 5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.projects__header-hr {
  margin: 2rem 0;
  width: 5rem;
  border: 3px solid #ff901b;
  border-radius: 10px;
}

.projects__header-title {
  text-transform: uppercase;
  font-size: 4.3rem;
}

.projects__header-subtitle {
  font-size: 2.3rem;
}

.projects__content-container {
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12rem;
}

.projects__content-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 4rem;
  align-items: center;
}

.projects__content-row-img-container {
  overflow: hidden;
}

.projects__content-row-img {
  max-width: 100%;
  max-height: 100%;
}

.projects__content-row-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.projects__content-row-text-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.projects__content-row-text-subtitle {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* PROJECTS RESPONSIVE DESIGN */
@media (max-width: 1050px) {
  .projects__content-row {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .projects__content-row-text {
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .projects__header {
    margin-bottom: 3rem;
  }
}
/* CONTACT SECTION */
.contact {
  padding: 8rem 5rem;
  margin: auto;
  background-size: cover;
}

.contact__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.contact__header-hr {
  margin: 2rem 0;
  width: 5rem;
  border: 3px solid #ff901b;
  border-radius: 10px;
}

.contact__header-title {
  text-transform: uppercase;
  font-size: 4.3rem;
}

.contact__header-subtitle {
  font-size: 2.3rem;
}

.contact__form-container {
  padding: 4rem;
  margin: 5rem auto 0 auto;
  max-width: 50rem;
  border-radius: 1rem;
  text-align: left;
  box-shadow: 0.8rem 1.6rem 1.6rem hsla(0, 0%, 0%, 0.08);
  transition: 0.3s ease-in-out;
}

.contact__form-container:hover {
  box-shadow: 0.8rem 1.6rem 1.6rem hsla(0, 0%, 0%, 0.15);
}

.contact__form {
  display: block;
}

.contact__form-field {
  margin-bottom: 2rem;
}

.contact__form-label {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

.contact__form-input {
  color: #333;
  padding: 1.5rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1.5rem;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 10px;
  font-weight: 600;
}

/* CONTACT RESPONSIVE DESIGN */
@media (max-width: 800px) {
  .contact__header {
    margin-bottom: 1rem;
  }
  .contact__form-container {
    padding: 3rem;
  }
}
/* FOOTER SECTION */
.footer {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__title {
  font-size: 1.2rem;
}

.footer__subtitle {
  margin: 0 2rem;
}

.footer__hr {
  width: 80%;
  border-top: 1px #f0f0f0;
  margin: 1rem 0;
}

/*# sourceMappingURL=style.css.map */
