$color-bg: #333;
$color-text: #f0f0f0;
$stripes-bg: url("../../assets/images/darkstripes-bg.svg");
$footer-bg-color: #333;
$contact-form-bg: #333;
$contact-form-textarea: #f0f0f0;
$contact-form-header: #f0f0f0;
