$color-bg: #f0f0f0;
$color-text: #333;
$stripes-bg: url("../../assets/images/stripes-bg.svg");
$footer-bg-color: #ff901b;
$contact-form-bg: white;
$contact-form-textarea: #f0f0f0;
$contact-form-header: #666;
