@use "../themes/light" as lightTheme;
@use "../themes/dark" as darkTheme;

html[data-theme="light"] {
  background-color: lightTheme.$color-bg;
  color: lightTheme.$color-text;

  .hero {
    background-image: lightTheme.$stripes-bg;
    background-size: cover;
  }

  .hero__mouse-outline {
    border: 0.2rem solid lightTheme.$color-text;
  }

  .hero__mouse-scroller {
    background-color: lightTheme.$color-text;
  }

  .footer {
    background-color: lightTheme.$footer-bg-color;
  }

  .contact__form-container {
    background-color: lightTheme.$contact-form-bg;
  }
}

html[data-theme="dark"] {
  background-color: darkTheme.$color-bg;
  color: darkTheme.$color-text;

  .hero {
    background-image: darkTheme.$stripes-bg;
    background-size: cover;
  }

  .hero__mouse-outline {
    border: 0.2rem solid darkTheme.$color-text;
  }

  .hero__mouse-scroller {
    background-color: darkTheme.$color-text;
  }

  .footer {
    background-color: darkTheme.$footer-bg-color;
  }

  .contact__form-container {
    background-color: darkTheme.$contact-form-bg;
  }
}
